{{#extend "main"}}
    {{#content "header" mode="append"}}
        <link rel="stylesheet" href="/css/link.css">
    {{/content}}
    {{#content "body"}}
        {{#extend "modules/navbar"}}{{/extend}}

        <div class="container">
            {{#if error}}
                <div class="row">
                    <div class="col-xs-12">
                        <div class="alert alert-danger" role="alert">
                            <span>{{error}}</span>
                        </div>
                    </div>
                </div>
            {{/if}}
            <div class="row">
                <div class="col-xs-12">
                    <form action="/link/save" method="POST" class="well">
                        <input type="hidden" name="uuid" value="{{body.uuid}}">
                        <input type="hidden" name="action" value="{{action}}">
                        <legend>Add new link</legend>
                        <div class="form-group">
                            <label for="f-url">URL</label>
                            <input id="f-url" type="text" name="url" class="form-control" placeholder="http://www.domain.com" value="{{body.url}}">
                        </div>
                        <div class="form-group">
                            <label for="f-title">Title</label>
                            <input id="f-title" type="text" name="title" class="form-control" placeholder="Github Home Page" value="{{body.title}}" required>
                        </div>
                        <div class="form-group">
                            <label for="f-description">Description</label>
                            <textarea class="form-control" rows="4" id="f-description" name="description" >{{body.description}}</textarea>
                        </div>
                        <div>
                            <span>You can write the description using <a href="https://github.com/showdownjs/showdown/wiki/Showdown's-Markdown-syntax" target="_blank">showdownjs markdown</a>.</span>
                        </div>
                        <div>
                            <span>To embed a Youtube video: ![youtube video](https://www.youtube.com/watch?v=1UKxKFmv1sY). Documentation <a href="https://github.com/showdownjs/youtube-extension" target="_blank">here</a>.</span>
                        </div>
                        <div class="form-group">
                            <label for="f-tags">Tags</label>
                            <input id="f-tags" type="text" name="tags" class="form-control" placeholder="github, versioning, web" value="{{body.tags}}">
                        </div>
                        <div class="togglebutton">
                            <label>
                                <input type="checkbox" name="public" {{#if body.public}}checked{{/if}}> Public
                            </label>
                        </div>
                        <div class="togglebutton">
                            <label>
                                <input type="checkbox" name="snippet" {{#if body.snippet}}checked{{/if}}> Code Snippet (No Link)
                            </label>
                        </div>
                        <div class="text-right">
                            <a href="/" class="btn">Cancelar</a>
                            <button class="btn btn-raised btn-info" type="submit">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    {{/content}}

    {{#content "scripts" mode="append"}}
        <script type="application/javascript" src="/js/editor.js"></script>
    {{/content}}
{{/extend}}