{{#extend "main"}}
    {{#content "header" mode="append"}}
        <link rel="stylesheet" href="/css/link.css">
    {{/content}}
    {{#content "body"}}
        {{#extend "modules/navbar"}}{{/extend}}

        <div class="container">
            {{#is action "new"}}
                {{#if error}}
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="alert alert-danger" role="alert">
                                <span>{{error}}</span>
                            </div>
                        </div>
                    </div>
                {{/if}}
                <div class="row">
                    <div class="col-xs-12">
                        <form action="/link/new" method="POST" class="well">
                            <legend>Add new link</legend>
                            <div class="form-group">
                                <label for="f-url">URL</label>
                                <input id="f-url" type="text" name="url" class="form-control" placeholder="http://www.domain.com" value="{{body.url}}">
                            </div>
                            <div class="form-group">
                                <label for="f-title">Title</label>
                                <input id="f-title" type="text" name="title" class="form-control" placeholder="Github Home Page" value="{{body.title}}" required>
                            </div>
                            <div class="form-group">
                                <label for="f-description">Description</label>
                                <textarea class="form-control" rows="4" id="f-description" name="description" >{{body.description}}</textarea>
                            </div>
                            <div>
                                <span>You can write the description using <a href="https://help.github.com/categories/writing-on-github/">GitHub Flavored Markdown</a>. You can see the offical CheatSheet <a href="https://github.com/adam-p/markdown-here/wiki/Markdown-Here-Cheatsheet">here</a>.</span>
                            </div>
                            <div class="form-group">
                                <label for="f-tags">Tags</label>
                                <input id="f-tags" type="text" name="tags" class="form-control" placeholder="github, versioning, web" value="{{body.tags}}">
                            </div>
                            <div class="togglebutton">
                                <label>
                                    <input type="checkbox" name="public" checked> Public
                                </label>
                            </div>
                            <div class="togglebutton">
                                <label>
                                    <input type="checkbox" name="snippet" {{#if body.snippet}}checked{{/if}}> Code Snippet (No Link)
                                </label>
                            </div>
                            <div class="text-right">
                                <a href="/" class="btn">Cancelar</a>
                                <button class="btn btn-raised btn-info" type="submit">Save</button>
                            </div>
                        </form>
                    </div>
                </div>
            {{/is}}

            {{#is action "view"}}
                <div class="row">
                    <div class="col-xs-12">
                        <div class="well link">
                            <div class="title">
                                <div class="row">
                                    <div class="col-sm-12 col-md-10">
                                        <a>{{link.title}}</a>
                                    </div>
                                    <div class="col-sm-12 col-md-2 text-right date">
                                        <a href="/link/view?uuid={{link.uuid}}">{{linkDateFormat link.created_date}}</a>
                                    </div>
                                </div>
                            </div>
                            {{#if link.description}}
                                <div class="content">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <p>{{link.description}}</p>
                                        </div>
                                    </div>
                                </div>
                            {{/if}}
                            <div class="others">
                                <div class="row">
                                    <div class="col-sm-12 col-md-6">
                                        {{#any link.tags}}
                                            {{#each link.tags}}
                                                <span class="link-tag">
                                                    <a>{{this}}</a>
                                                </span>
                                            {{/each}}
                                        {{/any}}
                                    </div>
                                    {{#if link.snippet}}
                                        <div class="col-sm-8 col-md-5 url-container text-right">
                                            <a class="url" href="/link/view?uuid={{link.uuid}}">{{link.uuid}}</a>
                                        </div>
                                    {{else}}
                                        <div class="col-sm-8 col-md-5 url-container text-right">
                                            <a class="url" href="{{link.url}}">{{link.url}}</a>
                                        </div>
                                    {{/if}}
                                    <div class="col-sm-4 col-md-1 url-container text-right">
                                        <a class="qr"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {{/is}}
        </div>
    {{/content}}

    {{#content "scripts" mode="append"}}
        <script type="application/javascript" src="/js/link.js"></script>
    {{/content}}
{{/extend}}